Node-RED flows/flow
[{"id":"cddfa491.ccf358","type":"http in","z":"a5ce04b2.5a31f8","name":"","url":"/ls","method":"get","swaggerDoc":"","x":88,"y":254,"wires":[["c0090508.d7db7","9f8812ee.ff81a"]]},{"id":"c0090508.d7db7","type":"function","z":"a5ce04b2.5a31f8","name":"Parse","func":"/*\n  1 - Add timestamp to original message , post to MQTT\n  2 - Prepare statisticas data, post to EMONCMS\n  3 - Prepare trip data for DB and save to temporary memory\n  4 - If GPS valid and car is ON, trigger data validation\n*/\n\n\n// 1 - Add timestamp to original message\nvar date = new Date();\nmsg.payload.Date =  (date.getDate() < 10 ? \"0\" : \"\"        ) + date.getDate() + \"/\";\nmsg.payload.Date += ((date.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (date.getMonth() + 1 ) + \" \";\nmsg.payload.Date += (date.getHours()   < 10 ? \"0\" : \"\"     ) + date.getHours()   + \":\";\nmsg.payload.Date += (date.getMinutes() < 10 ? \"0\" : \"\"     ) + date.getMinutes() + \":\";\nmsg.payload.Date += (date.getSeconds() < 10 ? \"0\" : \"\"     ) + date.getSeconds();\n\n// 2. Statistics data to EMONCMS\nvar emoncms = {};\nemoncms.nodegroup = \"leafspy\";\nemoncms.payload = {};\nif(msg.payload.Odo      ) emoncms.payload.Odo       = parseInt(msg.payload.Odo);\nif(msg.payload.Gids     ) emoncms.payload.Gids      = parseInt(msg.payload.Gids);\nif(msg.payload.SOC      ) emoncms.payload.SOC       = parseFloat(msg.payload.SOC);\nif(msg.payload.AHr      ) emoncms.payload.AHr       = parseFloat(msg.payload.AHr);\nif(msg.payload.Amb      ) emoncms.payload.Amb       = parseFloat(msg.payload.Amb);\nif(msg.payload.BatTemp  ) emoncms.payload.BatTemp   = parseFloat(msg.payload.BatTemp);\nif(msg.payload.Wpr      ) emoncms.payload.Wpr       = parseFloat(msg.payload.Wpr);\nif(msg.payload.PlugState) emoncms.payload.PlugState = parseFloat(msg.payload.PlugState);\nif(msg.payload.ChrgMode ) emoncms.payload.ChrgMode  = parseFloat(msg.payload.ChrgMode);\nif(msg.payload.ChrgPwr  ) emoncms.payload.ChrgPwr   = parseFloat(msg.payload.ChrgPwr);\n\n// 3. Trip data to save to DB\nvar mongodb = {};\nmongodb.payload={};\nmongodb.payload.user      = msg.payload.user                   || 0;\nmongodb.payload.pass      = msg.payload.pass                   || 0;\nmongodb.payload.Gids      = parseInt(msg.payload.Gids)         || 0;\nmongodb.payload.lat       = parseFloat(msg.payload.Lat)        || 0;\nmongodb.payload.lng       = parseFloat(msg.payload.Long)       || 0;\nmongodb.payload.elv       = parseInt(msg.payload.Elv)          || 0;\nmongodb.payload.Seq       = parseFloat(msg.payload.Seq)        || 0;\nmongodb.payload.Trip      = parseInt(msg.payload.Trip)         || 0;\nmongodb.payload.Odo       = parseInt(msg.payload.Odo)          || 0;\nmongodb.payload.SOC       = parseFloat(msg.payload.SOC)        || 0;\nmongodb.payload.AHr       = parseFloat(msg.payload.AHr)        || 0;\nmongodb.payload.BatTemp   = parseFloat(msg.payload.BatTemp)    || 0;\nmongodb.payload.Amb       = parseFloat(msg.payload.Amb)        || 0;\nmongodb.payload.Wpr       = parseFloat(msg.payload.Wpr)        || 0;\nmongodb.payload.PlugState = parseFloat(msg.payload.PlugState)  || 0;\nmongodb.payload.ChrgMode  = parseFloat(msg.payload.ChrgMode)   || 0;\nmongodb.payload.ChrgPwr   = parseFloat(msg.payload.ChrgPwr)    || 0;\nmongodb.payload.VIN       = msg.payload.VIN                    || 0;\nmongodb.payload.PwrSw     = parseInt(msg.payload.PwrSw)        || 0;\nmongodb.payload.Tunits    = msg.payload.Tunits                 || 0;\nmongodb.payload.Epoch = Math.floor(new Date() / 1000); \n\n\n\n// 4. No GPS, car OFF => no trip\nif( !mongodb.payload.lat || !mongodb.payload.lng || !mongodb.payload.PwrSw) {\n    return [msg,emoncms,null];\n}\n\nglobal.set(\"leafspyget\", mongodb); // 3. save in memory for later handling\n\nvar trip = {};\ntrip.payload = [];\ntrip.payload.push({\"Trip\":mongodb.payload.Trip});\n\nreturn [msg,emoncms,trip];    \n\n\n\n// Calculate kWh\n//var kWh = (mongodb.payload.Gids * 77.5 / 1000).toFixed(2);\n// Timestamp\n//var date = new Date();\n// DATA to Live Map\n//\n// Deliver\n//\n","outputs":"3","noerr":0,"x":268,"y":194,"wires":[["55d270e3.fd2768"],["2b3b19c2.5d0a8e"],["4be5bca8.980cc4"]],"outputLabels":["emoncms","trip",""]},{"id":"2b3b19c2.5d0a8e","type":"emoncms","z":"a5ce04b2.5a31f8","name":"emoncms","emonServer":"4492e2d1.c3e9c4","nodegroup":"","x":608,"y":254,"wires":[]},{"id":"f0898d35.31ed","type":"http response","z":"a5ce04b2.5a31f8","name":"","x":588,"y":134,"wires":[]},{"id":"a46455ec.99dba8","type":"comment","z":"a5ce04b2.5a31f8","name":"Leaf Spy Server","info":"**LEAF SPY SERVER**\n\n1. HANDLE LeafSpy requests\n - response (\"status\":\"0\")\n - publish to MQTT (DEBUG)\n - PARSE DATA\n \n2. PARSE DATA\n - prepare charge data to emoncms, mainly charge stats, posts every incoming message\n - prepare trip data to store in DB\n   - save data in temporary global memory\n   - extract trip number to feed live map and DB validation\n   - query DB for trip number and save message only if the prevously saved message is no more than 10 seconds apart (this trims the end of the trip data)\n   \n\n","x":118,"y":54,"wires":[]},{"id":"e87542eb.deadd8","type":"http response","z":"a5ce04b2.5a31f8","name":"response","x":393,"y":891,"wires":[]},{"id":"f576dfdc.fe58a","type":"http in","z":"a5ce04b2.5a31f8","name":"","url":"/map","method":"get","swaggerDoc":"","x":133,"y":891,"wires":[["24a52fe4.2425e8"]]},{"id":"8385ebbe.6a9d3","type":"comment","z":"a5ce04b2.5a31f8","name":"Live Map WS","info":"**LIVE MAP WS**\n\n1. Listen to MQTT trip requests (UI requests)\n2. Websockets for map, return last trip index to show in map\n3. Output trip data to WS and MQTT for debug","x":108,"y":454,"wires":[]},{"id":"9f8812ee.ff81a","type":"template","z":"a5ce04b2.5a31f8","name":"Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\"status\":\"0\"","x":248,"y":134,"wires":[["f0898d35.31ed"]]},{"id":"fbafb5f4.12a288","type":"mongodb out","z":"a5ce04b2.5a31f8","mongodb":"9682ce45.e18e38","name":"MongoDB","collection":"leafspy","payonly":true,"upsert":false,"multi":false,"operation":"store","x":608,"y":314,"wires":[]},{"id":"f1497e35.c1242","type":"mongodb in","z":"a5ce04b2.5a31f8","mongodb":"9682ce45.e18e38","name":"MongoDB","collection":"leafspy","operation":"find","x":217,"y":616,"wires":[["1ce07f49.f50179"]]},{"id":"2400d0e8.8e1cb8","type":"function","z":"a5ce04b2.5a31f8","name":"Last Trip","func":"msg2 = {};\nmsg2.payload =  {};\nmsg2.limit = \"1\";\nmsg2.sort = {TripID: -1};\nmsg2.projection = {_id:0 , TripID:1 };\nmsg2.skip = \"\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":157,"y":576,"wires":[["f1497e35.c1242"]]},{"id":"1ce07f49.f50179","type":"function","z":"a5ce04b2.5a31f8","name":"find","func":"//var size = Object.keys(msg.payload).length;  // determina o tamanho do array\n//var data = {};\n//data.payload = [];\n//for(var i=0; i<size; i++)\n//{\n//data.payload.push({\"lat\": msg.payload[i].Lat, \"lng\": msg.payload[i].Long});\n//data.payload[i].lat = msg.payload[i].Lat||0;\n//data.payload[i].lng = msg.payload[i].Long||0;\n//}\n//return data;\n\n\nmsg2 = {};\nmsg2.payload =  msg.payload[0];\nmsg2.limit = \"5000\";\nmsg2.sort = {epoch: 1};\n//msg2.projection = {_id:0, lat:1, lng:1, elv:1 };\nmsg2.skip = \"0\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":307,"y":656,"wires":[["ccf336c8.3b82b"]]},{"id":"ccf336c8.3b82b","type":"mongodb in","z":"a5ce04b2.5a31f8","mongodb":"9682ce45.e18e38","name":"Get Trip","collection":"leafspy","operation":"find","x":457,"y":696,"wires":[["ebae14cd.8076f","5f8b32d9.7d3524"]]},{"id":"55d270e3.fd2768","type":"mqtt out","z":"a5ce04b2.5a31f8","name":"","topic":"leafspy/from","qos":"","retain":"true","broker":"8a9d92d6.75627","x":608,"y":194,"wires":[]},{"id":"ed334ef4.41c3a","type":"comment","z":"a5ce04b2.5a31f8","name":"Live Map HTML","info":"","x":113,"y":831,"wires":[]},{"id":"ebae14cd.8076f","type":"mqtt out","z":"a5ce04b2.5a31f8","name":"","topic":"livemap/geo","qos":"","retain":"true","broker":"8a9d92d6.75627","x":627,"y":736,"wires":[]},{"id":"5a016951.e8e3c8","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"livemap/triprequest","topic":"livemap/triprequest","qos":"2","broker":"8a9d92d6.75627","x":127,"y":736,"wires":[["d5c268af.815298"]]},{"id":"d5c268af.815298","type":"function","z":"a5ce04b2.5a31f8","name":"find","func":"//var trip = {};\n//trip.payload = [];\n//trip.payload.push({\"TripID\":parseInt(msg.payload)});\n//return trip;\n\nmsg2 = {};\nmsg2.payload =  {\"TripID\":parseInt(msg.payload)};\nmsg2.limit = \"5000\";\nmsg2.sort = {epoch: 1};\n//msg2.projection = {_id:0, lat:1, lng:1, elv:1 };\nmsg2.skip = \"0\";\n\nreturn msg2;\n\n\n","outputs":"1","noerr":0,"x":307,"y":736,"wires":[["ccf336c8.3b82b"]]},{"id":"24a52fe4.2425e8","type":"template","z":"a5ce04b2.5a31f8","name":"Map","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<meta charset=\"utf-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.css\" integrity=\"sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==\" crossorigin=\"\"/>\n    <script src=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.js\" integrity=\"sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==\" crossorigin=\"\"></script>\t\n\t<script src=\"https://code.jquery.com/jquery-1.9.1.min.js\"></script>\n\t</head>\n<body>\n\n<div id=\"mapid\" style=\"width: 274px; height: 274px;\"></div>\n\n<script type=\"text/javascript\">\n\nvar socketaddy = \"ws://192.168.20.33:1880/ws/location\";\nvar sock;\nvar mymap = L.map('mapid').setView([51.505, -0.09], 13);\nvar _first=1;\nvar markersLayer = new L.LayerGroup(); \n\nL.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n    attribution: 'APR',\n    maxZoom: 19,\n    id: 'your.mapbox.project.id',\n    accessToken: 'your.mapbox.public.access.token'\n}).addTo(mymap);\n\n$( document ).ready(function(){\n\t\n  sock = new WebSocket(socketaddy);\n  sock.onopen = function(){ console.log(\"Connected websocket\");\n    console.log(\"Sending ping..\");\n    sock.send(\"Ping!\");\n    console.log(\"Ping sent..\");\n  };\n  sock.onerror = function(){ console.log(\"Websocket error\"); };\n  sock.onmessage = function(evt){\n \n    var latlngs = JSON.parse(evt.data);\n    markersLayer.clearLayers();\n    \n    var initmarker = L.marker(latlngs[0]).bindPopup(\"<b>Start</b><br>SOC: \"  + latlngs[0].SOC + \"%<br>Gids: \"  + latlngs[0].Gids + \"<br>AHr: \"  + latlngs[0].AHr + \"<br>Amb Temp: \"  + latlngs[0].Amb + \"ºC<br>Date: \"  + latlngs[0].Epoch  );\n    var endmarker = L.marker(latlngs[latlngs.length-1]).bindPopup(\"<b>End</b><br>SOC: \"  + latlngs[latlngs.length-1].SOC + \"%<br>Gids: \"  + latlngs[latlngs.length-1].Gids + \"<br>AHr: \"  + latlngs[latlngs.length-1].AHr + \"<br>Amb Temp: \"  + latlngs[latlngs.length-1].Amb + \"ºC<br>Date: \"  + latlngs[latlngs.length-1].Epoch  );\n    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(markersLayer);\n\t\n\tmarkersLayer.addLayer(initmarker);\n\tmarkersLayer.addLayer(endmarker);\n\tmarkersLayer.addLayer(polyline);\n\tmarkersLayer.addTo(mymap);\n    mymap.fitBounds(polyline.getBounds());\n  }\n });\n</script>\n</body>\n</html>","x":263,"y":891,"wires":[["e87542eb.deadd8"]]},{"id":"414d61a.76ef42","type":"function","z":"a5ce04b2.5a31f8","name":"LIVE!","func":"if(global.get(\"livemap\") == \"on\" ) {\n  return msg;\n}\nreturn null;","outputs":"1","noerr":0,"x":448,"y":374,"wires":[["864c51f2.27386"]]},{"id":"f365a369.6658e8","type":"mongodb in","z":"a5ce04b2.5a31f8","mongodb":"9682ce45.e18e38","name":"MongoDB","collection":"leafspy","operation":"find","x":338,"y":294,"wires":[["fcd6da4f.d37978"]]},{"id":"fcd6da4f.d37978","type":"function","z":"a5ce04b2.5a31f8","name":"trim trips","func":"/*\n *  LiveFeed represents the data that just arrived from LeafSpy\n *  msg.payload[0] represents the previous record of the DB (Trip, TripID and Epoch)\n */\n\n\n// Validate LiveFeed\nvar LiveFeed = global.get(\"leafspyget\") || 0;\nif( LiveFeed === undefined || LiveFeed.payload === undefined || LiveFeed.payload.Epoch === undefined ) {\n    node.warn(\"Invalid message??!!\");\n    return null;\n}\n\n// DB is empty, Trip number one\nif(msg.payload[0] === undefined || msg.payload[0].Epoch === undefined) {\n    node.warn(\"FIRST TRIP!\");\n    LiveFeed.payload.TripID = 1;           // Create TripID\n    msg.payload = LiveFeed.payload.TripID; // MQTT\n    return [LiveFeed,msg];\n}\n\n// New Trip\nif( msg.payload[0].Trip != LiveFeed.payload.Trip ) {\n    LiveFeed.payload.TripID = msg.payload[0].TripID + 1; // Create TripID\n    msg.payload = LiveFeed.payload.TripID;               // MQTT\n    return [LiveFeed,msg];\n}\n\n// Same Trip\nelse {\n    var lastepoch = LiveFeed.payload.Epoch || 0;\n    var rate = Math.abs(lastepoch - msg.payload[0].Epoch);\n    \n    if(rate < 30 ) {\n        LiveFeed.payload.TripID = msg.payload[0].TripID // Same TripID\n        msg.payload = LiveFeed.payload.TripID;          // MQTT\n        return [LiveFeed,msg];\n    }\n    else { // invalid datapoint, discard\n        var warning = \"Data is out of boundaries (\" + rate + \"s), discarding\";\n        node.warn(warning);\n        return null; \n    }\n}\n\n\n\n\n","outputs":"2","noerr":0,"x":398,"y":334,"wires":[["fbafb5f4.12a288"],["414d61a.76ef42"]]},{"id":"4be5bca8.980cc4","type":"function","z":"a5ce04b2.5a31f8","name":"last record","func":"// FIND A PARTICULAR TRIP\n/*\nmsg2 = {};\nmsg2.payload =  msg.payload[0];\nmsg2.limit = \"1\";\nmsg2.sort = {Epoch: -1};\nmsg2.projection = {_id:0, Epoch:1 };\nmsg2.skip = \"0\";\n\nreturn msg2;\n*/\n// FIND LAST ENTRY in DB\nvar msg2 = {};\nmsg2.payload =  {};\nmsg2.limit = \"1\";\nmsg2.sort = {Epoch: -1};\n//msg2.projection = {_id:0, Trip:1 };\nmsg2.projection = {_id:0, Trip:1, TripID:1,Epoch:1 };\nmsg2.skip = \"\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":288,"y":254,"wires":[["f365a369.6658e8"]]},{"id":"864c51f2.27386","type":"mqtt out","z":"a5ce04b2.5a31f8","name":"livemap/triprequest","topic":"livemap/triprequest","qos":"","retain":"","broker":"8a9d92d6.75627","x":628,"y":374,"wires":[]},{"id":"57fd8206.5a9d6c","type":"comment","z":"a5ce04b2.5a31f8","name":"Leaf Spy UI","info":"","x":104,"y":995,"wires":[]},{"id":"bcb73863.866358","type":"ui_ui_control","z":"a5ce04b2.5a31f8","name":"ui control","x":94,"y":1255,"wires":[["de528074.c813a8","bf21406f.1e3bf8","fd3b2b6d.fbd528"]]},{"id":"63eab88b.3882c8","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"","topic":"livemap/geo","qos":"2","broker":"8a9d92d6.75627","x":84,"y":1555,"wires":[["f73a7dc1.be51c8"]]},{"id":"f73a7dc1.be51c8","type":"function","z":"a5ce04b2.5a31f8","name":"Stats","func":"\nvar latlngs = JSON.parse(msg.payload);\n\nmsg.payload = {};\nmsg2 = {};\nmsg2.payload = {};\n\nmsg.payload.TripNo = latlngs[latlngs.length-1].TripID;\nmsg.payload.AHr = latlngs[latlngs.length-1].AHr;\n\nvar Di = new Date(0);\nvar De = new Date(0);\nDi.setUTCSeconds(latlngs[0].Epoch);\nDe.setUTCSeconds(latlngs[latlngs.length-1].Epoch);\nmsg2.payload.Date  = (Di.getDate() < 10 ? \"0\" : \"\")  + Di.getDate() + \"/\";\nmsg2.payload.Date += ((Di.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (Di.getMonth() + 1 ) + \"/\" + Di.getFullYear();\nmsg2.payload.Date += \", \" + (Di.getHours()   < 10 ? \"0\" : \"\") + Di.getHours()   + \":\";\nmsg2.payload.Date += (Di.getMinutes() < 10 ? \"0\" : \"\") + Di.getMinutes() + \" - \";\nmsg2.payload.Date += (De.getHours()   < 10 ? \"0\" : \"\") + De.getHours()   + \":\";\nmsg2.payload.Date += (De.getMinutes() < 10 ? \"0\" : \"\") + De.getMinutes();\n\n\nmsg2.payload.BattT = (latlngs[0].BatTemp) + \"ºC - \"\nmsg2.payload.BattT += (latlngs[latlngs.length-1].BatTemp) + \"ºC\";\n\nif(!msg.payload.TripNo) return[null,null];\n\nmsg2.payload.soc = (latlngs[0].SOC - latlngs[latlngs.length-1].SOC).toFixed(1);\nmsg2.payload.gids = latlngs[0].Gids - latlngs[latlngs.length-1].Gids;\nmsg2.payload.kwh = (msg2.payload.gids*7.75/100).toFixed(1);\nmsg2.payload.dist = parseInt(latlngs[latlngs.length-1].Odo - latlngs[0].Odo);\nmsg2.payload.avg = ((msg2.payload.gids*7.75)/msg2.payload.dist).toFixed(1);\n\nvar t = parseInt(latlngs[latlngs.length-1].Epoch - latlngs[0].Epoch);\n\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\nmsg2.payload.time = \"\";\n\nif(h) msg2.payload.time  = (h < 10 ? \"0\" : \"\") + h + \"h \";\nif(m) msg2.payload.time += (m < 10 ? \"0\" : \"\") + m + \":\";\nif(s) msg2.payload.time += (s < 10 ? \"0\" : \"\") + s;\n\nmsg2.payload.avgkmh = (msg2.payload.dist * 3600 / t).toFixed(1);\n\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":264,"y":1555,"wires":[["20eb3ee.55d32c2"],["c501e720.f2897"]]},{"id":"de528074.c813a8","type":"ui_template","z":"a5ce04b2.5a31f8","group":"72d4e21b.8cb744","name":"Live Map","order":4,"width":"6","height":"6","format":"<iframe src=\"http://192.168.20.33:1880/map\" width=\"100%\" height=\"100%\" />","storeOutMessages":true,"fwdInMessages":true,"x":274,"y":1455,"wires":[[]]},{"id":"c501e720.f2897","type":"ui_template","z":"a5ce04b2.5a31f8","group":"72d4e21b.8cb744","name":"Trip Info","order":5,"width":"6","height":"4","format":"<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>Date:</p>\n    <p>{{msg.payload.Date}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>Battery Temp:</p>\n    <p>{{msg.payload.BattT}}</p>\n</div>\n\n<hr>\n<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>Time:</p>\n    <p>{{msg.payload.time}}</p>\n    <br>\n    <p>Dist:</p>\n    <p>{{msg.payload.dist}} Km</p>\n</div>\n\n<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>SOC:</p>\n    <p>{{msg.payload.soc}}%</p>\n    <br>\n    <p>{{msg.payload.gids}} GID </p>\n    <p>{{msg.payload.kwh}}kWh </p>\n\n</div>\n<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>&#8709;: {{msg.payload.avg}} kWh/100km </p>\n    <p>{{msg.payload.avgkmh}} km/h </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":554,"y":1575,"wires":[[]]},{"id":"1b116db9.1d41e2","type":"ui_dropdown","z":"a5ce04b2.5a31f8","name":"","label":"Select Trip","group":"72d4e21b.8cb744","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":544,"y":1375,"wires":[["c757e640.6861c"]]},{"id":"c757e640.6861c","type":"mqtt out","z":"a5ce04b2.5a31f8","name":"","topic":"livemap/triprequest","qos":"","retain":"","broker":"8a9d92d6.75627","x":564,"y":1415,"wires":[]},{"id":"bf21406f.1e3bf8","type":"function","z":"a5ce04b2.5a31f8","name":"distinct","func":"msg = {};\nmsg.payload = \"TripID\";\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":1255,"wires":[["58ea14eb.48de2c"]]},{"id":"58ea14eb.48de2c","type":"mongodb2 in","z":"a5ce04b2.5a31f8","service":"_ext_","configNode":"41a059a0.a582e","name":"Trips","collection":"leafspy","operation":"distinct","x":364,"y":1295,"wires":[["af17ffcb.99373"]]},{"id":"af17ffcb.99373","type":"function","z":"a5ce04b2.5a31f8","name":"select","func":"msg.options = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":1335,"wires":[["1b116db9.1d41e2"]]},{"id":"20eb3ee.55d32c2","type":"ui_template","z":"a5ce04b2.5a31f8","group":"72d4e21b.8cb744","name":"Header","order":1,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between\" style=\"font-weight: 700\">\n    <p>Trip no: {{msg.payload.TripNo}}</p>\n    <p>AHr: {{msg.payload.AHr}}</p>\n</div>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":554,"y":1515,"wires":[[]]},{"id":"769a5e3d.5195b8","type":"function","z":"a5ce04b2.5a31f8","name":"Live Data","func":"var json = JSON.parse(msg.payload);\nmsg.payload = {};\n\n/*\nvar date = new Date();\n//date.setUTCSeconds(json.Epoch);\nmsg.payload.Epoch =  (date.getDate() < 10 ? \"0\" : \"\"        ) + date.getDate() + \"/\";\nmsg.payload.Epoch += ((date.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (date.getMonth() + 1 ) + \" \";\nmsg.payload.Epoch += (date.getHours()   < 10 ? \"0\" : \"\"     ) + date.getHours()   + \":\";\nmsg.payload.Epoch += (date.getMinutes() < 10 ? \"0\" : \"\"     ) + date.getMinutes() + \":\";\nmsg.payload.Epoch += (date.getSeconds() < 10 ? \"0\" : \"\"     ) + date.getSeconds();\n*/\nmsg.payload.Date    = json.Date;\nmsg.payload.DevBat    = json.DevBat;\nmsg.payload.Gids      = json.Gids;\nmsg.payload.Lat       = json.Lat;\nmsg.payload.Long      = json.Long;\nmsg.payload.Elv       = json.Elv;\nmsg.payload.Seq       = json.Seq;\nmsg.payload.Trip      = json.Trip;\nmsg.payload.Odo       = json.Odo;\nmsg.payload.SOC       = json.SOC;\nmsg.payload.AHr       = json.AHr;\nmsg.payload.BatTemp   = (parseFloat(json.BatTemp)).toFixed(1);\nmsg.payload.Amb       = (parseFloat(json.Amb)).toFixed(1);\nmsg.payload.Wpr       = json.Wpr;\nmsg.payload.PlugState = json.PlugState;\nmsg.payload.ChrgMode  = json.ChrgMode;\nmsg.payload.ChrgPwr   = json.ChrgPwr;\nmsg.payload.VIN       = json.VIN;\nmsg.payload.PwrSw     = json.PwrSw;\nmsg.payload.Tunits    = json.Tunits;\n\nreturn msg;","outputs":"1","noerr":0,"x":274,"y":1075,"wires":[["5f92abaf.cce754"]]},{"id":"5f92abaf.cce754","type":"ui_template","z":"a5ce04b2.5a31f8","group":"c0fe87ee.02614","name":"Info","order":1,"width":"6","height":"11","format":"<div layout=\"row\" layout-align=\"space-between\" >\n    <p> Update:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Date}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Trip no:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Trip}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>ODO:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Odo}} Km</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>SOC:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.SOC}} %</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>GID:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Gids}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Capacity:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.AHr}} AHr</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Amb Temp:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Amb}} ºC</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Batt Temp:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.BatTemp}} ºC</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Lat:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Lat}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Long:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Long}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Elv:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Elv}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Seq:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Seq}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Wpr:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Wpr}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>PlugState:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.PlugState}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>ChrgMode:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.ChrgMode}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>ChrgPwr:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.ChrgPwr}} W</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>VIN:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.VIN}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>PwrSw:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.PwrSw}}</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Tunits:</p>\n    <p style=\"font-weight: 700\">{{msg.payload.Tunits}}</p>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"x":524,"y":1075,"wires":[[]]},{"id":"ab477e6.f9f81","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"leafspy/from","topic":"leafspy/from","qos":"2","broker":"8a9d92d6.75627","x":104,"y":1075,"wires":[["769a5e3d.5195b8"]]},{"id":"149bad45.4aed73","type":"ui_switch","z":"a5ce04b2.5a31f8","name":"Live","label":"LIVE","group":"72d4e21b.8cb744","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"location_on","oncolor":"lightgreen","offvalue":"off","offvalueType":"str","officon":"location_off","offcolor":"white","x":384,"y":1175,"wires":[["45af0c45.a0761c"]]},{"id":"fd3b2b6d.fbd528","type":"function","z":"a5ce04b2.5a31f8","name":"set","func":"msg.payload = global.get(\"livemap\");\nreturn msg;","outputs":"1","noerr":0,"x":264,"y":1175,"wires":[["149bad45.4aed73"]]},{"id":"45af0c45.a0761c","type":"function","z":"a5ce04b2.5a31f8","name":"save","func":"global.set(\"livemap\",msg.payload);","outputs":"0","noerr":0,"x":524,"y":1175,"wires":[]},{"id":"a2fa2c72.a4bb88","type":"websocket in","z":"a5ce04b2.5a31f8","name":"/ws/location","server":"1ecbb417.32e96c","client":"","x":92,"y":527,"wires":[["2400d0e8.8e1cb8"]]},{"id":"5f8b32d9.7d3524","type":"websocket out","z":"a5ce04b2.5a31f8","name":"/ws/location","server":"1ecbb417.32e96c","client":"","x":629,"y":653,"wires":[]},{"id":"4492e2d1.c3e9c4","type":"emoncms-server","z":"","server":"http://localhost/emoncms","name":"Emoncms Local"},{"id":"9682ce45.e18e38","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"leafspy","name":""},{"id":"8a9d92d6.75627","type":"mqtt-broker","z":"a5ce04b2.5a31f8","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"72d4e21b.8cb744","type":"ui_group","z":"","name":"Live Map","tab":"2f42611e.4c3dc6","disp":false,"width":"6"},{"id":"41a059a0.a582e","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/leafspy","name":"mongoDB","options":"","parallelism":"-1"},{"id":"c0fe87ee.02614","type":"ui_group","z":"","name":"Info","tab":"56bd5468.f606e4","disp":true,"width":"6"},{"id":"1ecbb417.32e96c","type":"websocket-listener","z":"","path":"/ws/location","wholemsg":"false"},{"id":"2f42611e.4c3dc6","type":"ui_tab","z":"","name":"Live Map","icon":"navigation","order":6},{"id":"56bd5468.f606e4","type":"ui_tab","z":"","name":"Leaf Spy","icon":"transform","order":5}]
